logs
*.iml
target
.idea
.idea_modules
.vscode
Running_PID
generated.keystore
generated.truststore
*.log

#Scala-IDE specific
bin/
.scala_dependencies
.classpath
.project
.settings/
.cache-main
.chache-tests